@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('./vars.css');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--first-color);
  background-color: var(--background-color);
}
ul {
  all: unset;
}